
<img  *ngIf="!id" src="assets/images/schema.jpg" class="img-fluid" alt="...">

<div *ngIf="id" class="d-flex flex-row mb-3">
  <form>
    <mat-form-field>
      <input matInput placeholder="请输入要检索的内容" value="" />
    </mat-form-field>
  </form>
  <div class="example-button-row">
    <button mat-flat-button color="primary">Basic</button>
          <button mat-flat-button color="primary">Primary</button>
          <button mat-flat-button color="primary">Accent</button>
          <button mat-flat-button color="primary">Warn</button>
          <button mat-flat-button color="primary">Disabled</button>

  </div>
</div>


<mat-tree *ngIf="id" [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{ node.name }}

    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a menu icon"
              matTooltip="查看节点信息"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="accent"
              aria-label="Example icon button with a plus one icon"
              matTooltip="新增子节点"
              (click)="openDialog(node)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="warn"
              aria-label="Example icon button with a filter list icon"
              matTooltip="修改节点信息"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              disabled
              aria-label="Example icon button with a home icon"
              matTooltip="删除节点"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    {{ node.name }}
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a menu icon"
              matTooltip="查看节点信息"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="accent"
              aria-label="Example icon button with a plus one icon"
              matTooltip="新增子节点"
              (click)="openDialog(node)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="warn"
              aria-label="Example icon button with a filter list icon"
              matTooltip="修改节点信息"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              disabled
              aria-label="Example icon button with a home icon"
              matTooltip="删除节点"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-tree-node>
</mat-tree>
