<mat-card [formGroup]="chatForm" style="width: 100%; min-height: 125px;">
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
      <!-- TODO: Better layout of form controls -->
      <mat-form-field fxFlex="calc(100%-56px-56px-16px-16px-8px-8px)">
        <textarea matInput placeholder="Message" formControlName="message" (keydown.enter)="submit()"></textarea>
      </mat-form-field>

      <button mat-fab color="primary" (click)="submit()" [disabled]="!chatForm.get('message')?.value">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>