<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option>
        <a class="text-dark text-decoration-none"  href="/">首页</a>
      </mat-list-option>
      <mat-list-option
        *ngFor="let shoe of schemas"
        [value]="shoe"
        [selected]="shoe.id === id"
      >
        <a class="text-dark text-decoration-none"  [href]="'/dataset?id=' + shoe.id"> {{ shoe.name }}</a>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <!-- <div> -->
        <!-- <button mat-button color="primary" (click)="openDialog()">
          创建图谱
        </button>
        <button mat-button color="warn" (click)="deleteSchema(id)">
          删除图谱
        </button>
      </div> -->

      <a *ngIf="graph" class="text-light text-decoration-none mx-4" (click)="drawer.toggle()">{{ graph.name }}</a>
      <a *ngIf="!graph" class="text-light text-decoration-none  mx-4" (click)="drawer.toggle()">知识图谱构建工具</a>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/dataset']"
        [queryParams]="{ id: id }"
      >
        数据源
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/schema']"
        [queryParams]="{ id: id }"
      >
        概念
      </button>

      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/property/properties']"
        [queryParams]="{ id: id }"
      >
        属性
      </button>

      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/builder']"
        [queryParams]="{ id: id }"
      >
        处理过程
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/instance/instances']"
        [queryParams]="{ id: id }"
      >
        实例
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/graph']"
        [queryParams]="{ id: id }"
      >
        图
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/map']"
        [queryParams]="{ id: id }"
      >
        地图
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/earth']"
        [queryParams]="{ id: id }"
      >
        地球
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/learn']"
        [queryParams]="{ id: id }"
      >
        知识学习
      </button>
      <button
        *ngIf="graph"
        mat-button
        [routerLink]="['/qa']"
        [queryParams]="{ id: id }"
      >
        知识问答
      </button>
      <span class="example-spacer"></span>

      <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
