.example-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}